{% assign lang = "en" %}
{% assign custom_order_array = order_array | strip | split: "," %}
{% assign id_array = "" %}
{% assign index_order = "" %}
{% assign cat_links = category_links | split: ',' %}
{% assign cat_names = category_names_EN | split: ',' %}
{% assign base_url  = 'https://www.altitude-sports.com/collections/' %}
{% assign nbCol = column | plus: 0 %}
{% assign product_count = 0 %}
{% assign title_length  = 0 %} 
{% assign max_char = 80 | divided_by: nbCol | round  %}
{% assign nb_line = 0 %}
{% assign img_height = 600 | divided_by: nbCol %}
{% if customer.language == "fr" or tags contains "lang_fr" and customer.language != "en" %}
    {% assign lang = "fr" %}
{% endif %}

{% if product_img_height and product_img_height != "" %}
    {% assign img_height = product_img_height %}
{% endif %}

{% if is_tlh == true %}
    {% assign base_url  = 'https://www.thelasthunt.com/collections/' %}
{% endif %}

{% if lang == "fr" %}
    {% assign cat_names = category_names_FR | split: ',' %}
    {% assign base_url  = 'https://fr.altitude-sports.com/' %}
    {% if is_tlh == true %}
        {% assign base_url  = 'https://www.ladernierechasse.com/collections/' %}
    {% endif %}
{% endif %}

{% for item in custom_order_array %}
    {% for product in products %}
        {% if item contains product.product_id %}
            {% unless id_array contains product.product_id %}
                {% assign id_array = id_array | append: product.product_id %}
                {% assign index_order = index_order | append: forloop.index0 | append: "," %}
            {% endunless %}
        {% endif %}
    {% endfor %}
    {% assign i = forloop.index0 %}
{% endfor %}

{% assign index_order = index_order | split: "," %}
{% assign nb_line = title_length | divided_by: max_char | plus: 2 %}
{% assign title_height = nb_line | times: 20 %}   
{% assign mobile_min_width = "150px" %}
{% if mobile_2_columns == false %}
    {% assign mobile_min_width = "190px" %}
    <!-- iPhone style  -->
    <style>
    @media screen and (max-width:425px) {
        .product {
            width: 100% !important;
        }
        .product img {
            max-width: 200px;
        }
        .product-image {
            height:auto !important;
        }
    }
    </style>
{% else %}
    <!-- iPhone style  -->
    <style>
    @media screen and (max-width:425px) {
        .product {
            width: 45% !important;
        }
        .product-border,
        .product-image {
            height: 150px;
        }
        .product-image img {
            max-height: 150px !important;
        }
        .resize-height-image {
            height: 105px;
        }
        .resize-height-image img {
            max-height: 105px !important;
        }
    }
    </style>
{% endif %}
<!--[if mso]>
  <style type="text/css">
    .product-border {
      border: 0 !important;
      padding: 0 !important
    }
    .resize-height-image img {
        display: inline;
    }
    .product-image {
        height: {{ img_height | plus: 35 }}px !important;
    }
  </style>
<![endif]-->
{% for index in index_order %}
    {% assign i = index | plus: 0 %}
    {% assign j = forloop.index0 %}
    {% assign product = products[i] %}
    {% assign product_count = product_count | plus: 1 %}
    {% assign image = product.image_url | split: '.jpg' %}
    {% assign new_image = image[0] | append: '_x' | append: img_height | append: '.jpg' | append: image[1] %}

    {% if lang == "fr" %}
        {% assign cat_url = cat_links[j] | split: "|-|" | last | prepend: base_url %}
    {% else %}
        {% assign cat_url = cat_links[j] | split: "|-|" | first | prepend: base_url %}
    {% endif %}

    {% assign outlook_row = product_count | modulo: nbCol %}
    {% assign outlook_width = 600 | divided_by: nbCol | times: 0.65| round %}
    {% assign td_width = 100 | divided_by: nbCol | round %}
    {% assign row_last = product_count | modulo: nbCol %}
    {% if row_last == 0 %}
        {% assign td_width = td_width | minus: 1 %}
    {% endif %}
    
    {% if forloop.index == 1 %}
        <table class="product-container" width="100%" align="center">
            <tr>
                <td class="product" style="text-align: center; padding-top: 20px; vertical-align: bottom;" valign="bottom">
    {% else %}
        <!--[if mso]><td class="product" style="text-align: center; padding-top: 20px; vertical-align: bottom" valign="bottom"><![endif]-->
    {% endif %}

    <div class="product" style="width: {{ td_width }}%; display: inline-block; min-width: {{ mobile_min_width }};">
        <table style="width: 100%;">
            <tr>     
                <!-- Product image -->
            {% if show_border == true %}
                <td class="product-image-border" style="text-align:center; height: {{ img_height }}px; padding: 0 15px;">
                    <table width="100%">
                        <tr>
                            <!--[if mso]><td class="product-border" style="height:{{ img_height }}px; text-align: center"><![endif]-->
                            <!--[if !mso]>-->
                            <td class="product-border" style="border: 1px solid; height:{{ img_height | minus: 40 }}px; padding: 18px; text-align: center">
                            <!--<![endif]-->
                                <a href="{{ cat_url }}">
                                    <div class="resize-height-image" height="{{ img_height | minus: 45 }}px" width="{{ outlook_width }}px" style="background-image:url({{ new_image }}); background-size: contain; background-position: center; background-repeat: no-repeat; text-align:center; height: {{ img_height | minus: 45 }}px;">
                                        <img src="{{ new_image }}" alt="{{ cat_names[j] }}" style="display: none;width:auto; height: auto; max-width: 85%; max-height: {{ img_height | minus: 45 }}px;" width="{{ outlook_width }}" />
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            {% else %}
                <td class="product-image" valign="bottom" align="center" style="padding: 0; text-align:center; line-height: 1px; vertical-align: bottom;">
                    <a href="{{ cat_url }}">
                        <img src="{{ new_image }}" alt="{{ cat_names[j] }}" style="display:block; margin: 0 auto;width:auto; height: auto; max-width: 85%; max-height: {{ img_height | minus: 25 }}px;" width="{{ outlook_width }}" />
                    </a>
                </td>
            {% endif %}
            </tr>
            <tr>
                <!-- Product infos -->
                <td style="padding: 15px 5px 0; font-family: sans-serif; font-size: 15px;font-weight: bold; height: {{ title_height }}px; line-height: 18px; text-align: center; vertical-align:top;">
                    <a href="{{ cat_url }}" style="color:#000;text-decoration:none;">{{ cat_names[j] }}&nbsp;›</a>
                </td>
            </tr>
        </table>
    </div>
    {% if forloop.last == true %}
                </td>
            </tr>
        </table>
    {% else %}
        <!--[if mso]></td><![endif]-->
        {% if outlook_row == 0  %}
            <!--[if mso]></tr><tr><![endif]-->
        {% endif %}
    {% endif %}
{% endfor %}